
{% extends "base.html" %}

{% block title %}the qr space{% endblock %}

{% block content %}

    <div class="home-body font-sans" id="home">

        <main class="mt-10 flex flex-col items-center justify-center w-full gap-6" id="main-content">

            <!-- card 1 -->
            <div class="relative group max-w-sm w-full flex flex-col items-center">

                <div class="absolute -z-5 -bottom-1 left-2.5 w-[97%] h-5 bg-purple-200 rounded-lg
                        opacity-0 group-hover:opacity-100 transition-all duration-200"></div>

                <div class="relative border border-gray-300 rounded-lg
                        p-3 text-zinc-700 w-full shadow bg-gray-50
                        transition-transform duration-200 group-hover:-translate-y-1">

                    <a href="{{ url_for('qr_space')}}" class="block text-left w-full">
                        <h1 class="font-medium italic mb-1">generate qr code</h1>
                        <p class="text-[14px] text-zinc-600">
                            <span class="text-violet-300">create</span> an easy scannable qr code.
                            paste your text, and we'll turn it into a shareable image in seconds!
                        </p>
                    </a>

                </div>
            </div>

            <!-- card 2 -->
            <div class="relative group max-w-sm w-full flex flex-col items-center">

                <div class="absolute -z-5 -bottom-1 left-2.5 w-[97%] h-5 bg-violet-200 rounded-lg
                        opacity-0 group-hover:opacity-100 transition-all duration-200"></div>

                <div class="relative border border-gray-300 rounded-lg
                        p-3 text-zinc-700 w-full shadow bg-gray-50
                        transition-transform duration-200 group-hover:-translate-y-1">

                    <a href="{{ url_for('tutorial')}}" class="block text-left w-full">
                        <h1 class="font-medium italic mb-1">qr code tutorial</h1>
                        <p class="text-[14px] text-zinc-600">
                            need some <span class="text-purple-300">guidance?</span>
                            learn how to generate a fast, safe and easy qr code with a simple guide.
                        </p>
                    </a>

                </div>
            </div>

        </main>

        {% include "modal.html" %}

    </div>

{% endblock %}
