<div class="w-full max-w-md mt-10 mb-12 p-6 rounded-2xl bg-[#faf7ff] border border-[#f0e6ff] shadow-sm">
    <div class="space-y-4">
        <div>
            <h3 class="font-medium mb-1 underline underline-offset-4">tips for better qr codes</h3>
            <ul class="text-zinc-700 leading-relaxed list-disc pl-6">
                <li>keep the text short</li>
                <li>avoid long paragraphs</li>
                <li>use dark qr on a light background</li>
                <li>print at a scannable size</li>
            </ul>
        </div>

        <div class="border-t border-purple-200 pt-4 ">
            <h3 class="font-medium mb-1 mt-3">need help or feedback?</h3>
            <p class="text-zinc-700">
                ⟶ visit the <a href="{{ url_for('about') }}" class="underline text-blue-700">about us</a>
                or <a href="{{ url_for('feedback') }}" class="underline text-blue-700">feedback</a> page.
            </p>
        </div>
    </div>
</div>